<h1>Demo</h1>

<img src=<%= @image_url %>>

<button onclick="get_image_values()">Process image</button>

<table>
  <tr>
    <th>Field</th>
    <th>Value</th>
    <th>Confidence</th>
  </tr>
  <% @read_values.each do |key, value| %>
    <tr>
      <td><%= key %></td>
      <td><%= value.to_s %></td>
      <td><%= value.confidence %></td>
    </tr>
  <% end %>
</table>

<p id="demo"></p>