<h1>Demo</h1>

<img src=<%= @image_url %>>

<br>

<button id="process_image_button">Process image</button>

<br>

<table id="process_image_results">
  <tr>
    <th>Field</th>
    <th>Value</th>
    <th>Confidence</th>
  </tr>
</table>

<p id="demo"></p>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
  $("#process_image_button").on('click', function() {
    $.get('process_image', function(data, status) {
      $(".table_row").remove();
      for (field in data["read_values"]) {
        $("#process_image_results").append(
          `<tr class="table_row">
            <td>` + field + `</td>
            <td>` + data["read_values"][field].string + `</td>
            <td>` + data["read_values"][field].confidence + `</td>
          </tr>`
        )
      }
    });
  })
</script>